@keyframes rotate {
    50% {
        transform: scaleX(-1);
    }
}

@keyframes title {
    50% {
        border-bottom: 1px solid transparent;
    }
}

@keyframes arrow {
    50% {
        transform: translate(0, -20px);
    }
}